#maincontent {
    height: 0;
}

/* Recipients */

.mail_recipient {
    float: left;
    border: 1px solid #ddd;
    margin: 0 0.5em 0.5em 0 !important;
}

.mail_recipient .userpicture {
    border-right: 1px solid #ddd;
    vertical-align: middle;
}

.mail_recipient span {
    margin: 0 1em;
    white-space: nowrap;
    vertical-align: middle;
}

.mail_recipient input {
    padding: 12px 4px;
    vertical-align: middle;
    background-color: #eee;
}

/* Add recipients */

.mail-recipients {
    max-width: 40em;
}

.mail-recipients .groupselect {
    margin-bottom: 0.2em;
}

.mail-recipients .userselector {
    margin-bottom: 0.5em;
}

.mail-recipients .buttons {
    margin-bottom: 1em;
}

.mail-recipients .buttons input {
    margin-right: 0.5em;
}

.mail-recipients .buttons input[name=cancel] {
    margin-right: 0;
}

/* Mail list */

.mail_list {
    background-color: white;
    border: 1px solid #ddd;
}

.mail_list .mail_item {
    padding: 0 0.5em;
    border-top: 1px solid #ddd;
    white-space: nowrap;
}


.mail_list .mail_item:first-child {
    border: 0;
}

.mail_list .mail_link:focus {
    outline: 0;
}

.mail_list .mail_link,
.mail_list .mail_link:hover,
.mail_list .mail_link:active,
.mail_list .mail_link:visited {
    color: black;
    text-decoration: none;
}

.mail_list .mail_link:active {
    background-color: #eee;
}

.mail_list .mail_users,
.mail_list .mail_summary,
.mail_list .mail_date,
.mail_list .mail_checkbox{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5em 1%;
    vertical-align: middle;
}

.mail_list .mail_checkbox {
    width: 2%;
    text-overflow: ellipsis;
}

.mail_list .mail_users {
    width: 29%;
    text-overflow: ellipsis;
}

.mail_list .mail_summary {
    width: 45%;
    text-overflow: ellipsis;
}

.mail_list .mail_label.mail_draft {
    background-color: transparent;
    color: red;
}

.mail_list .mail_date {
    width: 15%;
    text-align: right;
}

.mail_list .mail_unread {
    font-weight: bold;
}

.mail_list .mail_flags {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    min-width: 2%;
    height: 18px;
}

.mail_list .mail_selected {
    background-color: #ffc;
}

/* Mail starred */

.mail_starred {
    display:inline-block;
    width: 18px;
    height: 18px;
    background: transparent url('pix/starred.png') no-repeat right top;
}

.mail_unstarred {
    display:inline-block;
    width: 18px;
    height: 18px;
    background: transparent url('pix/unstarred.png') no-repeat right top;
}

/* Toolbar */

.mail_toolbar {
    font-size: 1em;
    vertical-align: middle;
    margin-bottom: 1em;
}

.mail_toolbar .mail_paging {
  float: right;
}

.mail_toolbar .singlebutton {
    display: inline-block;
    margin-top:0.4em;
    margin-right: 0.5em;
    min-width: 4em;
}

.mail_toolbar .mail_checkbox_all {
    display: inline-block;
    text-align: middle;
    width: 40px;
}

.mail_toolbar .mail_more_actions,
.mail_toolbar .mail_checkbox_all,
.mail_toolbar .singlebutton,
.mail_toolbar .mail_button.mail_button_disabled:hover {
    opacity: 0.8;
}

.mail_toolbar .mail_checkbox_all img,
.mail_toolbar .mail_more_actions img,
.mail_toolbar .mail_checkbox_all input {
    vertical-align: middle;
}

.mail_toolbar .mail_checkbox_all:hover,
.mail_toolbar .mail_more_actions:hover {
    opacity: 0.9;
}

.mail_toolbar .mail_optselect {
    width: 12em;
    background-color: #fff;
    position: absolute;
    top: 51px;
    left: 225px;
    border: 1px solid #bbb;
    line-height: 2em;
    box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.mail_toolbar .mail_actselect {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bbb;
    line-height: 2em;
    width: 15em;
    box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.mail_toolbar .mail_menu_options,
.mail_toolbar .mail_menu_actions {
    list-style: none;
}


.mail_toolbar .mail_button span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.mail_toolbar .mail_button span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mail_toolbar .mail_button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mail_toolbar .mail_button {
    display: inline-block;
    background-color: #f1f1f1;
    margin: 0.4em 0.5em 1em 0;
    padding: 0.4em 1em;
    border: 1px solid #ccc;
    border-radius: 0.2em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-size: 1em;
    height: 2.5em;
    width: auto;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.mail_toolbar .mail_button_disabled {
    color: grey;
}

.mail_toolbar .mail_button:hover {
    border: 1px solid #aaa;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 1px 0px;
}

.mail_toolbar input.mail_button[disabled]:hover,
.mail_toolbar .mail_button.mail_button_disabled:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 0px #000;
}

.mail_toolbar_sep {
    margin-left: 3em;
}

.mail_paging .singlebutton {
    min-width: 1em;
}

.mail_perpage {
    float: right;
    margin-top: 0.5em;
}

.mail_perpage span{
    margin: 0 0.5em;
}

/* View mail */


.mail_subject {
    margin-bottom: 1em;
}

.mail_subject .mail_flags {
    margin-left: 0.5em;
    vertical-align:middle;
}

.mail_subject h3 {
    display:inline;
}

.mail_header {
    display:block;
}

.mail_info {
    margin-left: 43px;
}

.mail_info .mail_date {
    float: right;
}

.mail_header {
    margin-botton: 1em;
}

.mail_header .left,
.mail_subject .left {
    float: left;
}

.user_from {
    font-size: 1.1em;
    font-weight: bold;
}

.mail_recipients {
    border-bottom: 1px solid #aaa;
    font-size: 0.95em;
}

.mail_recipients .mail_role {
    display: inline-block;
    min-width: 1.5em;
    margin-right: 0.5em;
}

.mail_body {
    margin-left: 43px;
}

.mail_content {
    margin: 1em 0 0.2em;
    border-bottom: 2px solid #aaa;
}

.mail_attachments {
    margin: 1em 0 0.5em;
    border-top: 1px solid #aaa;
    width: 50%;
}

.mail_attachment {
    margin: 0.5em 0 0.5em 1em;
    display: block;
}

.mail_attachment_size {
    margin-left: 1em;
}

.mail_attachment_text {
    margin-left: 0.5em;
    font-weight: bold;
}

/* Mail reply */

.mail_reply .mail_header {
    margin-top: 1em;
}

.mail_reply .mail_info .mail_date {
    float: none;
    display: block;
}

/* Mail references */

.mail_references {
    margin: 1em 0 0 43px;
}

.mail_references .mail_header {
    margin-top: 1em;
}

.mail_references .mail_info .mail_date {
    float: none;
    display: block;
}

/* Label colors */

.mail_label {
    background-color: #eee;
    padding: 0.2em 0.4em;
    margin: 0 0.1em;
    border-radius: 0.4em;
}

.mail_label_black, .mail_label_colors option[value="black"] {
    background-color: #2e3436;
    color: #fff;
}

.mail_label_red, .mail_label_colors option[value="red"] {
    background-color: #a40000;
    color: #fff;
}

.mail_label_orange, .mail_label_colors option[value="orange"] {
    background-color: #f57900;
    color: #fff;
}

.mail_label_yellow, .mail_label_colors option[value="yellow"] {
    background-color: #fce94f;
}

.mail_label_green, .mail_label_colors option[value="green"] {
    background-color: #4e9a06;
    color: #fff;
}

.mail_label_blue, .mail_label_colors option[value="blue"]{
    background-color: #204a87;
    color: #fff;
}

.mail_label_purple, .mail_label_colors option[value="purple"] {
    background-color: #5c3566;
    color: #fff;
}

.mail_group_labels {
    margin-right: 0.5em;
}

/* Form custom styles */

.mform .fsubmit {
    text-align: left;
}

/* hidden */

.mail_hidden {
    display: none !important;
}