#maincontent {
    height: 0;
}

/* Recipients */

.mail_recipient {
    float: left;
    border: 1px solid #ddd;
    margin: 0 0.5em 0.5em 0 !important;
}

.mail_recipient .userpicture {
    border-right: 1px solid #ddd;
    vertical-align: middle;
}

.mail_recipient span  {
    margin: 0 1em;
    white-space: nowrap;
    vertical-align: middle;
}

.mail_recipient input {
    padding: 12px 4px;
    vertical-align: middle;
    background-color: #eee;
}

/* Add recipients */

.mail-recipients {
    max-width: 40em;
}

.mail-recipients .groupselect {
    margin-bottom: 0.2em;
}

.mail-recipients .userselector {
    margin-bottom: 0.5em;
}

.mail-recipients .buttons {
    margin-bottom: 1em;
}

.mail-recipients .buttons input {
    margin-right: 0.5em;
}

.mail-recipients .buttons input[name=cancel] {
    margin-right: 0;
}

/* Mail list */

.mail_list {
    background-color: white;
    border: 1px solid #ddd;
}

.mail_list .mail_item {
    border-top: 1px solid #ddd;
}


.mail_list .mail_item:first-child {
    border: 0;
}

.mail_list .mail_link:focus {
    outline: 0;
}

.mail_list .mail_link,
.mail_list .mail_link:hover,
.mail_list .mail_link:active,
.mail_list .mail_link:visited {
    color: black;
    text-decoration: none;
}

.mail_list .mail_link:active {
    background-color: #eee;
}

.mail_list .mail_users, .mail_list .mail_summary, .mail_list .mail_date,.mail_list .mail_checkbox{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5em 1%;
    vertical-align: middle;
}

.mail_list .mail_checkbox {
    width: 2%;
    text-overflow: ellipsis;
}

.mail_list .mail_users {
    width: 29%;
    text-overflow: ellipsis;
}

.mail_list .mail_summary {
    width: 50%;
    text-overflow: ellipsis;
}

.mail_list .mail_label {
    background-color: #eee;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    border-radius: 0.2em;
}

.mail_list .mail_label.mail_draft {
    background-color: transparent;
    color: red;
}

.mail_list .mail_date {
    width: 10%;
    text-align: center;
}

.mail_list .mail_unread {
  font-weight: bold;
}

.mail_list .mail_flags {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  width:18px;
  height:18px;
}

/* Toolbar */

.mail_toolbar .singlebutton{
  margin-top:0.4em;
}

.mail_toolbar .mail_paging {
    float: right;
}

.mail_toolbar .singlebutton {
    display: inline-block;
    margin-right: 0.5em;
}

/* View mail */


.mail_subject {
 margin-bottom: 1em;
}

.mail_subject .mail_flags{
 margin-left: 0.5em;
 vertical-align:middle;
}

.mail_subject h3{
 display:inline;
}

.mail_header {
 display:block;
}

.mail_info {
 margin-left: 43px;
}

.mail_info .mail_date {
 float: right;
}

.mail_header {
 margin-botton: 1em;
 /*border-bottom: 1px solid #aaa;*/
}
.mail_header .left, .mail_subject .left{
 float: left;
}

.user_from {
 font-size: 1.1em;
 font-weight: bold;
}

.mail_recipients {
  border-bottom: 1px solid #aaa;
  font-size: 0.95em;
}

.mail_recipients .mail_role {
  display: inline-block;
  min-width: 1.5em;
  margin-right: 0.5em;
}

.mail_body {
  margin-left: 43px;
}

.mail_content {
 margin: 1em 0 0.2em;
 border-bottom: 2px solid #aaa;
}